<h2>Add a player</h2>
<form method="post" action="/players/add">
    <input type="text" name="name" placeholder="Player Name">
    <br>
    <input type="text" name="country" placeholder="Country">
    <br>
    <input type="number" name="age" placeholder="Age">
    <button type="submit" name="button">Submit Player</button>
</form>
